# .env.example
PUBLIC_GOOGLE_API_KEY=your_google_api_key_here
PUBLIC_YOUTUBE_CHANNEL_ID=UCoVX240Rcw6ek5Opx2J84QA
PUBLIC_GOOGLE_CALENDAR_ID=your_calendar_id_here
PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/mkndgrjn
