# .env.example
PUBLIC_GOOGLE_API_KEY=your_google_api_key_here
PUBLIC_YOUTUBE_CHANNEL_ID=your_youtube_channel_id_here
PUBLIC_GOOGLE_CALENDAR_ID=your_google_calendar_id_here
PUBLIC_FORMSPREE_ENDPOINT=your_formspree_endpoint_here
